/*
0 - 600px = phone
600px - 900px = tablet portrait
900px - 1200px = tablet landscape
[1200 - 1799 is the main design size ]
1800px + = big screens
*/
/*
break points
-------------------
phone
tab-port
tab-land
big-screen

*/
/* SCSS HEX */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  /*its was 10px so we did 10/16 * 100 to get the percentage(16 is the default font size for browsers*/
  font-size: 62.5%; }

::selection {
  background-color: #333533ff;
  color: #fff; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h1,
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #242423ff; }

h5 {
  font-weight: 300;
  font-size: 1.5rem; }

p {
  font-size: 1.4rem;
  font-weight: 300; }

.logo {
  width: 17rem; }

.menu__list {
  list-style: none; }

.menu__item {
  display: inline-block; }
  .menu__item:not(:last-child) {
    margin-right: 2rem; }

.menu__link {
  text-decoration: none;
  color: #f5cb5cff;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .2rem;
  transition: all 0.3s; }
  .menu__link:hover {
    color: #fff; }

.main-post {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.4); }
  .main-post__image {
    grid-row: 1 / 6;
    grid-column: 1 / 6;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; }
    .main-post__image::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #cfdbd5ff;
      height: 40%;
      width: 100%;
      display: block;
      z-index: 4; }
    .main-post__image--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2; }
  .main-post__categories {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    z-index: 6;
    align-self: center;
    justify-self: start;
    margin-left: 1rem;
    display: flex;
    align-items: center; }
  .main-post__category:not(:last-child) {
    margin-right: 1.3rem; }
  .main-post__detail {
    grid-row: 4 / 6;
    grid-column: 1 / -1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .main-post__ac {
    z-index: 6;
    margin: 1rem 0; }
  .main-post__title {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    text-align: center;
    z-index: 6;
    font-size: 2.1rem;
    width: 70%;
    margin-top: 1rem; }
  .main-post__author {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 1rem; }
    .main-post__author--icon {
      color: #242423ff;
      margin-right: .3rem; }
  .main-post__comment {
    display: inline-block; }
    .main-post__comment--icon {
      margin-right: .3rem; }

.sub-post {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.4); }
  .sub-post--first {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .sub-post--second {
    grid-row: 2 / 3;
    grid-column: 1 / -1; }
  .sub-post__image {
    grid-row: 1 / 6;
    grid-column: 1 / 6;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; }
    .sub-post__image::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #cfdbd5ff;
      height: 40%;
      width: 100%;
      display: block;
      z-index: 4; }
    .sub-post__image--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2; }
  .sub-post__detail {
    grid-row: 4 / 6;
    grid-column: 1 / -1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 6; }
  .sub-post__title {
    font-size: 1.6rem;
    width: 76%; }

.category {
  font-weight: 500;
  letter-spacing: 0.1rem;
  background-color: #333533ff;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem; }

.category-box {
  height: 26rem;
  width: 26rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfdbd5ff;
  outline: solid;
  outline-width: .3rem;
  outline-color: grey;
  outline-offset: -1rem;
  transition: all .4s;
  cursor: pointer; }
  .category-box:not(:last-child) {
    margin-right: 4rem; }
  .category-box__title {
    text-align: center; }
  .category-box:hover {
    outline-color: #333533ff;
    outline-offset: 1rem; }

.dline-heading__title {
  text-align: center;
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .dline-heading__title::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: -5rem;
    width: 3rem;
    height: 3px;
    background-color: black; }
  .dline-heading__title::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: -5rem;
    width: 3rem;
    height: 3px;
    background-color: black; }

.post {
  width: 33rem;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) 25rem;
  margin: 1.2rem; }
  .post__image {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    width: 100%;
    height: 100%;
    position: relative; }
    .post__image--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .post__categories {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    z-index: 3;
    margin-left: 1rem;
    justify-self: start;
    align-self: center; }
  .post__detail {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    padding: 0 1rem; }
  .post__ac {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0; }
    .post__ac h5:not(:last-child) {
      margin-right: 1.5rem; }
  .post__author--icon {
    display: inline-block;
    margin-right: .7rem; }
  .post__comment--icon {
    display: inline-block;
    margin-right: .7rem; }
  .post__title {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    font-weight: 500; }
  .post__snippet {
    margin-bottom: 1rem; }
  .post__link {
    text-decoration: none;
    color: #333533ff;
    transition: all .2s; }
    .post__link:hover {
      color: #f5cb5cff; }
    .post__link--icon {
      margin-left: 1rem; }

.search-box {
  width: 100%;
  margin-bottom: 3rem; }
  .search-box__form {
    border-radius: 50px;
    width: 80%;
    display: block;
    height: 3.7rem;
    position: relative;
    font-family: "Rubik", sans-serif;
    background-color: white; }
    .search-box__form--search-input {
      outline: none;
      border: none;
      border-radius: 50px;
      width: 67%;
      height: 3.5rem;
      padding: 0 1rem; }
      .search-box__form--search-input:placeholder-shown {
        color: grey; }
    .search-box__form--button {
      display: block;
      border: none;
      outline: none;
      top: 50%;
      transform: translateY(-50%);
      right: 3px;
      border-radius: 50px;
      position: absolute;
      padding: .6rem 2rem;
      background-color: #333533ff;
      color: #fff;
      transition: all .3s; }
      .search-box__form--button:hover {
        transform: scale(0.93) translateY(-50%); }

.heading-underline {
  position: relative;
  display: block;
  margin-bottom: 2rem; }
  .heading-underline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32rem;
    height: 1px;
    background-color: #333533ff; }
  .heading-underline__title {
    padding: .5rem 1.3rem;
    background-color: #333533ff;
    color: #fff;
    font-size: 1.7rem; }

.post-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  .post-detail:not(:last-child) {
    margin-bottom: 1.7rem; }
  .post-detail__title {
    font-size: 1.5rem;
    margin-bottom: .5rem; }
  .post-detail__dc {
    display: block; }
    .post-detail__dc > h5 {
      font-size: 1.2rem; }
  .post-detail__date {
    display: inline-block;
    margin-right: 2rem; }
    .post-detail__date--icon {
      margin-right: .7rem; }
  .post-detail__comment {
    display: inline-block; }
    .post-detail__comment--icon {
      margin-right: .7rem; }

.category-list {
  list-style: none; }
  .category-list__item {
    display: block; }
    .category-list__item:not(:last-child) {
      margin-bottom: 1.3rem; }
  .category-list__link {
    text-decoration: none;
    color: #333533ff;
    transition: all .3s; }
    .category-list__link--icon {
      margin-right: 1.6rem; }
    .category-list__link:hover {
      color: #f5cb5cff; }

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 3.4rem; }
  .social-icon__list {
    list-style: none; }
  .social-icon__item {
    display: inline-block; }
    .social-icon__item:not(:last-child) {
      margin-right: 1.2rem; }
  .social-icon__link {
    font-size: 2.5rem;
    text-decoration: none;
    color: #333533ff;
    transition: all .3s; }
    .social-icon__link:hover {
      color: #f5cb5cff; }

.footer-menu {
  width: 100%; }
  .footer-menu__list {
    list-style: none; }
  .footer-menu__item {
    display: inline-block;
    padding-right: 2rem;
    margin-right: 2rem; }
    .footer-menu__item:not(:last-child) {
      border-right: 2px solid #fff; }
  .footer-menu__link {
    text-decoration: none;
    color: white; }

.author-of-the-week {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 3.4rem; }
  .author-of-the-week__image {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 1.5rem; }
    .author-of-the-week__image--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .author-of-the-week__desc {
    margin-bottom: 1.5rem; }
  .author-of-the-week__profile-link {
    outline: none;
    border: none;
    padding: 1rem 2.2rem;
    color: #fff;
    background-color: #333533ff;
    margin-bottom: 1.5rem;
    transition: all .3s; }
    .author-of-the-week__profile-link:hover {
      transform: scale(1.1); }

.header {
  height: 16rem;
  width: 100vw;
  background-color: #242423ff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__container {
    width: 110rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.hero-section {
  width: 100vw;
  height: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8eddfff; }
  .hero-section__container {
    width: 110rem;
    display: grid;
    grid-template-columns: 65rem 1fr;
    gap: 2.3rem;
    grid-template-rows: 50rem; }

.sub-post-section {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 2.3rem; }

.categories-section {
  width: 100vw;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 110rem 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #fff; }
  .categories-section__container {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .categories-section__categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; }

.body {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 110rem 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #e8eddfff; }
  .body__container {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 73rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: 7rem 0; }

.main-body {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90rem;
  border-right: 1px solid rgba(128, 128, 128, 0.26); }

.side-bar {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-top: 16rem;
  padding-left: 2rem; }

.post-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem; }

.latest-post-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 3.4rem; }

.side-bar-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 3.4rem; }

.footer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 110rem 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #242423ff; }
  .footer__container {
    width: 110rem;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff; }

.footer-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 0; }
  .footer-top__logo-and-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 45rem;
    height: 100; }

.footer-logo {
  margin-bottom: 2rem; }

.footer-bottom {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  position: relative; }
  .footer-bottom::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80rem;
    background-color: white;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%); }
