/* SCSS HEX */
$timberwolf: #cfdbd5ff;
$alabaster: #e8eddfff;
$maize-crayola: #f5cb5cff;
$eerie-black: #242423ff;
$jet: #333533ff;
$color-white: #fff;

// // font size small
$main-padding: 0 16rem;

$font-Headings: 'Playfair Display',
serif;
$font-body: 'Rubik',
sans-serif;

$container-width: 110rem;


// // grid variables
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;

// // border radius variables
// $border-radius-small: 0.3rem;