.footer-menu {
    width: 100%;

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        padding-right: 2rem;
        margin-right: 2rem;

        &:not(:last-child) {
            border-right: 2px solid $color-white;
        }
    }

    &__link {
        text-decoration: none;
        color: white;
    }

}