.menu {

    &__list {
        list-style: none;


    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }


    }

    &__link {
        text-decoration: none;
        color: $maize-crayola;
        font-family: $font-body;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: .2rem;
        transition: all 0.3s;

        &:hover {
            color: $color-white;
        }


    }
}