.post-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:not(:last-child) {
        margin-bottom: 1.7rem;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    &__dc {
        display: block;

        &>h5 {
            font-size: 1.2rem;
        }
    }

    &__date {
        display: inline-block;
        margin-right: 2rem;

        &--icon {
            margin-right: .7rem;
        }

    }

    &__comment {
        display: inline-block;

        &--icon {
            margin-right: .7rem;
        }

    }
}