body {
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: 400;
}

h1,
h2 {
    font-family: $font-Headings;
    font-weight: 400;
    color: $eerie-black;
}

h5 {
    font-weight: 300;
    font-size: 1.5rem;
}