.categories-section {
    width: 100vw;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr $container-width 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color: $color-white;

    &__container {

        grid-column: 2 / 3;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        text-align: center;
        position: relative;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--text {}

        &::after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            right: -5rem;
            width: 3rem;
            height: 3px;
            background-color: black;
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            left: -5rem;
            width: 3rem;
            height: 3px;
            background-color: black;
        }
    }

    &__categories {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;


    }
}