.hero-section {
    width: 100vw;
    height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $alabaster;

    &__container {

        width: $container-width;
        display: grid;
        grid-template-columns: 65rem 1fr;
        gap: 2.3rem;
        grid-template-rows: 50rem;
    }
}