.hero-section {
    width: 100vw;
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $alabaster;

    &__container {

        width: $container-width;
        display: grid;
        grid-template-columns: 78rem 1fr;
    }
}